body {
  margin: 0;
  background-color: gray;
}

root {
  margin: 0;
}

#app {
  display: flex;
}

#sidebar {
  display: flex;
  flex-direction: column;
}

#timer {
  color: white;
  font-weight: bold;
}